image:
    repository: myacr.azurecr.io/k8test
    tag: "latest"
    pullPolicy: IfNotPresent
replicaCount: 1
service:
    type: ClusterIP
    port: 80
ingress:
    enabled: true
    host: k8test.dev.example.com
    annotations: {}
    tls: []
