apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
    name: {{ include "k8test.fullname" . }}
    annotations: {}
spec:
    rules:
        - host: {{ .Values.ingress.host }}
          http:
            paths:
                - path: /
                  pathType: Prefix
                  backend:
                    service:
                        name: {{ include "k8test.fullname" . }}
                        port:
                            number: {{ .Values.service.port }}
