apiVersion: v1
kind: Service
metadata:
    name: {{ include "k8test.fullname" . }}
spec:
    type: {{ .Values.service.type }}
    ports:
        - port: {{ .Values.service.port }}
          targetPort: {{ .Values.service.port }}
    selector:
        app: {{ include "k8test.name" . }}
